@import "../variables.scss";

// footer

.footer {
    display: flex;
    margin: 3 * $base-unit auto;
}

.footer__copyright {
    flex-grow: 1;
    text-align: center;
}

.footer__nav {
    text-align: right;
}
