@import "../variables.scss";

// footer

.footer {
    border: 1px solid $gray-line-color;
    border-radius: $border-radius;
    display: flex;
    gap: $base-unit;
    justify-content: space-between;
    margin-bottom: $base-unit;
    padding: 1 * $base-unit;

    @media (prefers-color-scheme: dark) {
        border-top: 1px solid $gray-line-color-dm;
    }
}

.page--index .footer {
    // grid-column: span 3;
}

.footer__copyright {
    flex-grow: 1;
}

.footer__top-link {
    background-color: $gray-background;
    border-radius: $border-radius;
    color: inherit;
    display: flex;
    gap: 0.5 * $base-unit;
    font-size: $small-size;
    line-height: 1;
    padding: 7px 12px;

    @media (prefers-color-scheme: dark) {
        background-color: $gray-background-dm;
    }
}
