@import "../../variables.scss";

// about
.about {
    align-items: start;
    border-top: 1px solid $gray-line-color;
    display: grid;
    gap: 0 (0.5 * $base-unit);
    grid-template-areas:
        "heading content content"
        "subheading content content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding-top: 1.5 * $base-unit;
    margin: 1.5 * $base-unit 0;

    @media (max-width: $break-2) {
        display: block;
    }

    border: none;
    grid-template-areas:
        "heading heading photo"
        "subheading subheading photo"
        "content content photo"
        "links links links";
    grid-template-rows: auto auto 1fr;
    padding-top: 0;

    .index-section__heading {
        grid-area: heading;
        // margin-bottom: 1 * $base-unit !important;
    }

    .index-section__subheading {
        // font-size: $heading-size;
        // line-height: 1.5;
    }

    .index-section__content {
        grid-area: content;
        padding-right: $base-unit;

        .index-section__heading {
            margin-top: 1.5 * $base-unit;
            margin-bottom: $base-unit;
        }
    }
}

.about__photo {
    aspect-ratio: 1/1;
    background-color: $entry-background;
    border-radius: $border-radius;
    grid-area: photo;
    // grid-row: span 3;
    overflow: hidden;
    margin-bottom: 1.5 * $base-unit;
    // padding: $base-unit $base-unit 0;

    // display: none;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}
