@import "../../variables.scss";

.essays {
    // background-color: $gray-background;
    // border: 1px solid $gray-line-color;
    // border-radius: $border-radius;
    // padding: $base-unit;
}

.essays-list {
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: $break-2) {
        grid-template-columns: auto;
    }
}

.essays-list__entry {
    position: relative;

    .type-label {
        svg {
            stroke: $heading-color-dm;
        }
    }
}

.essays-list__entry:first-of-type {
    grid-column: 1/-1;

    .essays-list__cover {
        aspect-ratio: 8/3 !important;
    }
}

.essays-list__cover {
    aspect-ratio: 4/3;
    background-color: #000000;
    border-radius: $border-radius;
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        width: 100%;
    }
}

.essays-list__cover-text {
    color: $heading-color-dm;
    padding: 0.5 * $base-unit 0.666 * $base-unit;
    position: absolute;
    left: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.essays-list__title {
    color: inherit;
}

.essays-list__subtitle {
    color: inherit;

    @media (prefers-color-scheme: dark) {
    }
}

.essays-list__tags {
    display: flex;
    font-family: $mono-font;
    font-size: $small-size;
    gap: 0.5 * $base-unit;
    position: absolute;
    bottom: 0.5 * $base-unit;
}
