@import "../../variables.scss";

.newsletter {
    align-items: start;
    background-color: $entry-background;
    border-radius: $border-radius;
    display: grid;
    gap: 0 3 * $base-unit;
    grid-template-areas:
        "heading image"
        "subheading image"
        "form form";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    padding: 3 * $base-unit;
    margin: 3 * $base-unit 0;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    @media (max-width: $break-2) {
        padding: 2 * $base-unit 2 * $base-unit;
    }
}

.newsletter__heading {
    // font-family: $serif-heading-font;
    font-size: $heading-size;
    font-weight: 500;
    // letter-spacing: 0.05em;
    line-height: 1.5;
    margin-bottom: 0.25 * $base-unit;
}

.newsletter__subheading {
    color: $gray-color;
    margin-bottom: 1.5 * $base-unit;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.newsletter__image {
    grid-area: image;
    height: 90px;

    svg {
        height: 90px;
        stroke: $newsletter-svg-color;

        @media (prefers-color-scheme: dark) {
            stroke: $newsletter-svg-color-dm;
        }
    }
}

.newsletter__form {
    background-color: $entry-background-darker;
    border-radius: $border-radius;
    display: flex;
    gap: $base-unit;
    grid-area: form;
    padding: 8px;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-darker-dm;
    }
}

.newsletter__form:focus-within {
    border: 3px solid $body-color;
    margin: -3px;
}

.newsletter__email-field {
    background: none;
    border: none;
    border-radius: $border-radius;
    color: $body-color;
    font-size: 16px;
    line-height: 2;
    padding: 0 12px;
    width: 100%;
}

.newsletter__email-field::placeholder {
    color: $gray-color;
}

.newsletter__email-field:focus {
    outline: none;
}

.newsletter__signup-button {
    background-color: $link-color;
    border-radius: $border-radius;
    color: $body-color-dm;
    font-weight: 500;
    padding: 4px 12px;
    // width: min-content;

    @media (prefers-color-scheme: dark) {
        background-color: $link-color-dm;
        color: $body-color;
    }
}
