@import "../../variables.scss";

.newsletter {
    align-items: center;
    background-color: $entry-background;
    border-radius: $border-radius;
    display: grid;
    gap: 0 $base-unit;
    grid-template-areas:
        "heading image"
        "subheading image"
        "form form";
    padding: 3 * $base-unit 6 * $base-unit;
    margin: 3 * $base-unit 0;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    @media (max-width: $break-2) {
        padding: 2 * $base-unit 2 * $base-unit;
    }
}

.newsletter__heading {
    font-size: $heading-size;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.25 * $base-unit;
}

.newsletter__subheading {
    color: $gray-color;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.newsletter__image {
    grid-area: image;
    height: 90px;

    svg {
        height: 90px;
        stroke: $newsletter-svg-color;

        @media (prefers-color-scheme: dark) {
            stroke: $entry-background-darker-dm;
        }
    }
}

.newsletter__form {
    display: flex;
    gap: $base-unit;
    grid-area: form;
    margin-top: 1.5 * $base-unit;
}

.newsletter__email-field {
    background-color: $entry-background-darker;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    line-height: 2;
    padding: 0 12px;
    width: 100%;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-darker-dm;
    }
}

.newsletter__signup-button {
    background-color: $link-color;
    border-radius: $border-radius;
    color: $body-color-dm;
    font-weight: 400;
    padding: 4px 12px;
    // width: min-content;
}
