@import "../../variables.scss";

.photos-grid {
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: $break-2) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.photo-link {
    aspect-ratio: 4/3;
    border-radius: $border-radius;
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
