@import "../../variables.scss";

.poems-list {
    display: grid;
    gap: $base-unit;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $break-2) {
        grid-template-columns: auto;
    }
}

.poems-list__entry {
    background-color: $gray-background;
    border-radius: $border-radius;
    padding: 0.5 * $base-unit 0.666 * $base-unit;

    @media (prefers-color-scheme: dark) {
        background-color: $gray-background-dm;
    }

    p {
        text-indent: -2em;
        margin: 0;
        padding-left: 2em;
    }
}

.poems-list__title {
    // font-weight: 500;

    display: none;
}

.poems-list__body {
    font-family: $mono-font;
    font-size: $small-size;
    line-height: 2;
}
