@import "../../variables.scss";

.projects {
    // background-color: $gray-background;
    // border: 1px solid $gray-line-color;
    // border-radius: $border-radius;
    // padding: $base-unit;
}

.projects-list {
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @media (max-width: $break-2) {
        grid-template-columns: auto;
    }
}

.projects-list__entry {
    background-color: $gray-background;
    // border: 1px solid $gray-line-color;
    border-radius: $border-radius;
    // display: grid;
    // gap: 0 0.5 * $base-unit;
    // grid-template-columns: auto 1fr;
    // grid-template-rows: auto 1fr;
    padding: 0.5 * $base-unit 0.666 * $base-unit;

    @media (prefers-color-scheme: dark) {
        background-color: $gray-background-dm;
    }
}

.projects-list__cover {
    aspect-ratio: 16/10;
    background-color: $gray-background;
    border-radius: $border-radius;
    overflow: hidden;

    display: none;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.projects-list__subtitle {
    color: $body-color;
    margin-bottom: 0.25 * $base-unit;

    @media (prefers-color-scheme: dark) {
        color: $body-color-dm;
    }
}

.projects-list__technologies {
    color: $gray-color;
    display: flex;
    font-family: $mono-font;
    font-size: $small-size;
    gap: 0.5 * $base-unit;
    line-height: 1.3;
}
