@font-face {
    font-family: "American Grotesk";
    font-weight: 300;
    font-style: normal;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-light.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 300;
    font-style: italic;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-light-italic.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 400;
    font-style: normal;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-regular.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 400;
    font-style: italic;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-regular-italic.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 500;
    font-style: normal;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-medium.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 500;
    font-style: italic;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-medium-italic.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 700;
    font-style: normal;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-bold.woff2")
            format("woff");
}

@font-face {
    font-family: "American Grotesk";
    font-weight: 700;
    font-style: italic;
    src: local("American Grotesk"),
        url("/assets/fonts/Test American Grotesk/test-american-grotesk-bold-italic.woff2")
            format("woff");
}
