@font-face {
	font-family: "Heldane Text";
	font-weight: 400;
	font-style: normal;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-regular.woff2")
			format("woff");
}

@font-face {
	font-family: "Heldane Text";
	font-weight: 400;
	font-style: italic;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-regular-italic.woff2")
			format("woff");
}

@font-face {
	font-family: "Heldane Text";
	font-weight: 500;
	font-style: normal;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-medium.woff2")
			format("woff");
}

@font-face {
	font-family: "Heldane Text";
	font-weight: 500;
	font-style: italic;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-medium-italic.woff2")
			format("woff");
}

@font-face {
	font-family: "Heldane Text";
	font-weight: 700;
	font-style: normal;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-bold.woff2")
			format("woff");
}

@font-face {
	font-family: "Heldane Text";
	font-weight: 700;
	font-style: italic;
	src: local("Heldane Text"),
		url("/assets/fonts/Test Heldane Collection/Test Heldane Text/test-heldane-text-bold-italic.woff2")
			format("woff");
}
