@font-face {
    font-family: "Sohne";
    font-weight: 200;
    font-style: normal;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-extraleicht.woff2") format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 200;
    font-style: oblique;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-extraleicht-kursiv.woff2")
            format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 300;
    font-style: normal;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-leicht.woff2") format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 300;
    font-style: oblique;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-leicht-kursiv.woff2")
            format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 400;
    font-style: normal;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-buch.woff2") format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 400;
    font-style: oblique;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-buch-kurisv.woff2") format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 500;
    font-style: normal;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-kraftig.woff2") format("woff");
}

@font-face {
    font-family: "Sohne";
    font-weight: 500;
    font-style: oblique;
    src: local("Sohne"),
        url("/assets/fonts/sohne/test-soehne-kraftig-kursiv.woff2")
            format("woff");
}
