@font-face {
    font-family: "Tiempos Fine";
    font-weight: 400;
    font-style: normal;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-regular.woff2")
            format("woff");
}

@font-face {
    font-family: "Tiempos Fine";
    font-weight: 400;
    font-style: italic;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-regular-italic.woff2")
            format("woff");
}

@font-face {
    font-family: "Tiempos Fine";
    font-weight: 500;
    font-style: normal;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-medium.woff2")
            format("woff");
}

@font-face {
    font-family: "Tiempos Fine";
    font-weight: 500;
    font-style: italic;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-medium-italic.woff2")
            format("woff");
}

@font-face {
    font-family: "Tiempos Fine";
    font-weight: 700;
    font-style: normal;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-bold.woff2")
            format("woff");
}

@font-face {
    font-family: "Tiempos Fine";
    font-weight: 700;
    font-style: italic;
    src: local("Tiempos Fine"),
        url("/assets/fonts/Test Tiempos Collection/Test Tiempos Fine/test-tiempos-fine-bold-italic.woff2")
            format("woff");
}
