@import "reset";
@import "variables";
@import "font-face/heldane-display.scss";
@import "font-face/sohne-mono.scss";
@import "font-face/sohne.scss";
@import "../../static/assets/fonts/inter/inter.css";

// * {
//     transition: all 0.125s ease-out;
// }

body {
    background-color: $background-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $body-size;
    font-weight: 400;
    line-height: $base-unit;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dm;
        color: $body-color-dm;
    }
}

a {
    color: $link-color;

    @media (prefers-color-scheme: dark) {
        color: $link-color-dm;
    }
}

a:hover {
    // text-decoration: underline;
}

.all-link {
    background-color: $gray-background;
    border-radius: $border-radius;
    // color: $body-color-dm;
    // font-weight: 500;
    grid-column: 1/-1;
    padding: 0.5 * $base-unit;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: $gray-background-dm;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;

    @media (prefers-color-scheme: dark) {
        color: $heading-color-dm;
    }

    a {
        color: inherit;
    }
}

p + p {
    margin-top: $base-unit;
    // text-indent: 1.5 * $base-unit;
}

img {
}

svg {
    display: block;
    stroke: $body-color;
    stroke-width: 1px;

    @media (prefers-color-scheme: dark) {
        stroke: $body-color-dm;
    }
}

.type-label {
    align-items: center;
    color: $gray-color;
    display: flex;
    font-family: $mono-font;
    font-size: $small-size;
    gap: 0.25 * $base-unit;
    letter-spacing: 0.1em;
    margin-bottom: 0.25 * $base-unit;
    text-transform: uppercase;

    svg {
        stroke: $gray-color;
    }
}

.uppercase {
    text-transform: uppercase;
}

.page {
    margin: $base-unit auto;
    max-width: $column-width;
    padding: 0 3 * $base-unit;

    @media (max-width: $break-2) {
        padding: 0 $base-unit;
    }
}

.index-section {
    // border-top: 1px solid $gray-line-color;
    // display: grid;
    // gap: $base-unit;
    // grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 3 * $base-unit 0;
}

.index-section__head {
    margin-bottom: $base-unit;

    svg {
        grid-row: span 2;
    }
}

.index-section__heading {
    font-size: $heading-size;
    line-height: $heading-line-height;
}

.index-section__subheading {
    color: $gray-color;
    text-wrap: balance;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.index-section__content {
    // grid-column: span 2;
}
