// imports ________________________________________________________________________________________

@import url(font-face/heldane-text.scss);
// @import url(font-face/untitled-sans.scss);
@import url(font-face/sohne-mono.scss);
@import url(../../static/assets/fonts/inter/inter.css);
@import url(reset.scss);

// variables ______________________________________________________________________________________

$base-unit: 24px;
$column-width: 720px;
$piece-width: 600px;
$border-radius: 3px;

$line-height: $base-unit;

$sans-font: "Inter", serif;
$sans-size: 14px;
$small-sans-font-size: 12px;

$serif-font: "Heldane Text", serif;
$serif-size: 16px;

$mono-font: "Sohne Mono", monospace;
$mono-size: 12px;

$body-color: #000000;
$body-color-dm: #dddddd;
$gray-color: #888888;
$gray-color-dm: #888888;

$background-color: #ffffff;
$background-color-dm: #222222;

$gray-line-color: #dddddd;
$gray-line-color-dm: #444444;

// general styles _________________________________________________________________________________

body {
	background-color: $background-color;
	color: $body-color;
	font-family: $mono-font;
	font-size: $mono-size;
	line-height: $line-height;

	@media (prefers-color-scheme: dark) {
		background-color: $background-color-dm;
		color: $body-color-dm;
	}
}

input[type="text"] {
	background: none;
	color: inherit;
	font-family: inherit;
	height: $base-unit;
	border: 1px solid $gray-line-color;
	padding: 0 0.5 * $base-unit;
	width: 240px;

	@media (prefers-color-scheme: dark) {
		border: 1px solid $gray-line-color-dm;
	}
}

button {
	color: inherit;
	font-family: inherit;
	background-color: $gray-line-color;
	border: none;
	height: $base-unit;
	padding: 0 0.5 * $base-unit;
	// margin-left: 0.25 * $base-unit;

	@media (prefers-color-scheme: dark) {
		background-color: $gray-line-color-dm;
	}
}

p + p {
	margin-top: $base-unit;
}

.uppercase {
	text-transform: uppercase;
}

// page ___________________________________________________________________________________________

.page {
	// display: grid;
	// gap: 3 * $base-unit 3 * $base-unit;
	// grid-template-columns: repeat(5, 1fr);
	margin: 0 * $base-unit auto;
	max-width: $column-width + (2 * $base-unit);
	padding: 0 1 * $base-unit;
	// position: relative;
}

.main {
	// grid-column: span 4;
}

// header _________________________________________________________________________________________

.header-wrapper {
	border-bottom: 1px solid $gray-line-color;
	overflow: hidden;
}

.header {
	align-self: start;
	display: grid;
	gap: 0 $base-unit;
	grid-template-areas:
		"selfie title ."
		"selfie subtitle nav";
	grid-template-columns: auto 1fr auto;
	// grid-template-rows: 1fr 1fr 4fr;
	margin: 1 * $base-unit auto;
	max-width: $column-width + (2 * $base-unit);
	padding: 0 1 * $base-unit;
	// position: sticky;
	// top: 3 * $base-unit;

	@media (prefers-color-scheme: dark) {
		// border-bottom: 1px solid $gray-line-color-dm;
	}
}

.selfie {
	border-radius: $border-radius;
	grid-area: selfie;
	height: 2 * $base-unit;
	justify-self: end;
	width: 2 * $base-unit;

	// display: none;
}

.site-title {
	grid-area: title;
	// margin-bottom: $base-unit;
}

.site-subtitle {
	grid-area: subtitle;
	// font-style: oblique;
}

.nav {
	align-self: end;
	display: flex;
	grid-template-columns: 12px 1fr;
	gap: 1.5 * $base-unit;
	grid-area: nav;
	// justify-self: end;
	// margin-top: $base-unit;
	// display: none;

	a {
		justify-content: center;
		// display: grid;
		grid-column: span 2;
		grid-template-columns: subgrid;
		align-items: center;
		display: flex;
		gap: 0.333 * $base-unit;

		img {
			display: block;
			height: 12px;
			justify-self: center;
		}

		span {
			display: block;
		}
	}
}

// index __________________________________________________________________________________________

.index-grid {
	display: grid;
	// grid-column: span 4;
	gap: 2 * $base-unit 2 * $base-unit;
	grid-template-columns: 1fr 1fr;
	margin: 2 * $base-unit auto;
}

.index-section {
	// border: 1px solid $gray-line-color;
	// background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	gap: 1 * $base-unit;
	grid-column: span 4;
	// grid-template-columns: subgrid;
	// grid-template-rows: auto 1fr auto 1fr;
	// padding: 2 * $base-unit;

	+ .index-section {
		// border-top: 1px solid $gray-line-color;
		// padding-top: 2 * $base-unit;

		@media (prefers-color-scheme: dark) {
			// border-top: 1px solid $gray-line-color-dm;
		}
	}

	@media screen and (max-width: 640px) {
		display: flex;
		flex-direction: column;
		// gap: 2 * $base-unit;
	}
}

// about section __________________________________________________________________________________

.about {
	// display: grid;
	// grid-column: span 4;
	// grid-template-columns: subgrid;
}

.about__info {
	display: flex;
	flex-direction: column;
	gap: 1 * $base-unit $base-unit;
	grid-column: span 2;
}

.about__site-description {
	font-family: $serif-font;
	font-size: 24px;
	line-height: 1.5;
}

.about__connect-grid {
	// border-top: 1px solid $gray-line-color;
	// border-radius: $border-radius;
	display: grid;
	gap: 01 * $base-unit 1 * $base-unit;
	grid-template-columns: auto 1fr;
	// padding-top: 1 * $base-unit;
}

.about__connect-grid__label {
	grid-row: span 2;
}

.about__newsletter {
	// background-color: pink;
	display: grid;
	grid-template-columns: 1fr auto;

	input[type="text"] {
		width: 100%;
	}
}

// long form section ______________________________________________________________________________

.long-form {
	grid-column: span 4;
	display: grid;
	// gap: 0 4 * $base-unit;
	grid-template-columns: subgrid;
}

.long-form__list {
	display: grid;
	// flex-direction: column;
	gap: 1 * $base-unit 1 * $base-unit;
	grid-column: span 4;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	justify-content: space-between;
}

.long-form-link {
	aspect-ratio: 1/1;
	// background-color: #eeeeee;
	// border: 1px solid $gray-line-color;
	// border-radius: $border-radius;
	display: flex;
	flex-direction: column;
	// font-family: $serif-font;
	// font-size: $serif-size;
	gap: 0.25 * $base-unit;
	// grid-column: span 2;
	// grid-template-areas:
	// "image title"
	// "image description"
	// "image meta";
	// grid-template-columns: auto 1fr;
	// grid-template-rows: auto auto 1fr;
	justify-content: flex-end;
	// padding: 1 * $base-unit;

	:first-of-type {
	}

	+ .long-form-link {
		// border-top: 1px solid $gray-line-color;
		// padding-top: 1 * $base-unit;

		@media (prefers-color-scheme: dark) {
			// border-top: 1px solid $gray-line-color-dm;
		}
	}
}

// .long-form-link:first-of-type {
// 	aspect-ratio: 2/1;
// 	grid-column: span 2;
// }

.long-form-link__title {
	grid-area: title;
	font-size: 24px;
	font-family: $serif-font;
	line-height: 1.5;
	font-weight: 400;
	// margin-bottom: $base-unit;
}

.long-form-link__image {
	// grid-area: image;
	// align-self: end;
	// aspect-ratio: 1/1;
	// background-color: #eeeeee;
	// height: 4 * $base-unit;
	// width: 3 * $base-unit;
	// float: right;
	// display: none;
}

.long-form-link__excerpt {
	flex-grow: 1;
	// font-weight: 500;

	@media (prefers-color-scheme: dark) {
		// color: $gray-color-dm;
	}
}

.long-form-link__meta {
	grid-area: meta;
	font-family: $mono-font;
	font-size: $mono-size;
	// color: $gray-color;
	display: flex;
	gap: $base-unit;
	// grid-column: span 2;
	// margin-top: $base-unit;
	// justify-self: end;
}

// daily writing section __________________________________________________________________________

.daily-writing {
	grid-column: span 4;
}

.daily-writing__list {
	display: grid;
	gap: 1 * $base-unit $base-unit;
	grid-column: span 3;
	grid-template-columns: 1fr auto auto;
}

.daily-writing-link {
	display: grid;
	grid-column: span 3;
	grid-template-columns: subgrid;

	+ .daily-writing-link {
		// border-top: 1px solid $gray-line-color;
		// padding-top: 1 * $base-unit;

		@media (prefers-color-scheme: dark) {
			// border-top: 1px solid $gray-line-color-dm;
		}
	}
}

.daily-writing-link__title {
	font-family: $serif-font;
	font-size: $serif-size;
}

.daily-writing-link__date,
.daily-writing-link__word-count,
.daily-writing-link__read-time {
	// color: $gray-color;
	text-align: right;
}

// long form piece ________________________________________________________________________________

.long-form-piece {
	align-items: start;
	// display: grid;
	gap: 0 2 * $base-unit;
	grid-template-areas:
		"title title title title title"
		"meta body body body body";
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
	margin: 1 * $base-unit 0;
	// max-width: $piece-width;
}

.long-form-piece__meta {
	align-self: start;
	color: $gray-color;
	grid-area: meta;
	display: flex;
	// flex-direction: column;
	gap: $base-unit;
	margin: $base-unit auto;
}

.long-form-piece__title {
	font-family: $serif-font;
	font-size: 24px;
	grid-area: title;
	line-height: 1.5;
	margin-bottom: $base-unit;
}

.long-form-piece__date,
.long-form-piece__word-count,
.long-form-piece__read-time {
}

.long-form-piece__body {
	grid-area: body;
	font-family: $serif-font;
	font-size: $serif-size;
}

.long-form-piece__body p:first-of-type::first-letter {
	font-family: $sans-font;
	font-size: (2 * $base-unit + 0px);
	font-weight: 200;
	float: left;
	line-height: 2 * $base-unit;
	margin-top: 6px;
	margin-right: 0px;
}

.long-form-piece__body p:last-of-type::after {
	content: "\00A0\2022";
}
