@import url(heldane_text.scss);

$base-unit: 24px;
$small-base-unit: 18px;

$base-font-size: 16px;
$small-font-size: 12px;
$serif-font-size: 18px;
$serif-line-height: 1.333;

$sans-font: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', sans-serif;

$serif-font: 'Heldane', serif;

$border-radius: 6px;
$page-width: 30*$base-unit;

$link-color: blue;
$link-color-dark-mode : #c0c0c0;

$body-color: #404040;
$body-color-dark-mode : #c0c0c0;

$heading-color : #000000;
$heading-color-dark-mode : #f0f0f0;

$gray-color : #b0b0b0;
$gray-color-dark-mode : #606060;

$gray-line-color : #e0e0e0;
$gray-line-color-dark-mode : #303030;

$background-color : #ffffff;
$background-color-dark-mode : #000000;

$menu-bg-color : #f0f0f0;
$menu-bg-color-dark-mode : #171717;

$article-bg-color : #fbfbfb;
$article-bg-color-dark-mode : #171717;

* {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $base-font-size;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: 600;
    margin: 2*$base-unit 0 $base-unit;
}

p+p {
    margin: $base-unit 0 0;
}

ul {
    list-style-type: none;
    margin: $base-unit 0;
    padding: 0 0 0 $base-unit;

    li {
        display: flex;
        position: relative;
    }

    li::before {
        content: '—\00A0';
        display: block;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input[type=text] {
    background-color: #fff;
    border-radius: $border-radius;
    border: 0;
    //display: block;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0 12px;
    vertical-align: top;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    //filter: grayscale(100%);
    width: 100%;
}

.cover-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

svg {
    stroke: $body-color;
}

.hide {
    display: none;
}

.page {
    margin: 0 auto;
    max-width: $page-width+4*$base-unit;
    overflow: hidden;
    padding: 0 2*$base-unit;
}

.header {
    align-items: end;
    // border-bottom: 1px solid $body-color;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: $base-unit 0;
    // padding: 0 0 $base-unit;
}

.site-titles {
    display: flex;
}

.site-title {
    color: inherit;
    // font-family: $serif-font;
    // font-size: $serif-font-size;
    font-weight: inherit;
    // line-height: $serif-line-height;
    margin: 0;
}

.site-subtitle {
    // color: $gray-color;
    display: none;
    font-size: $small-font-size;
    font-weight: inherit;
    line-height: 2;
    margin: 0;
}

.nav {
    display: flex;
}

.nav-link {
    align-items: center;
    display: flex;
    font-size: 12px;
    line-height: 1;
    padding: 6px 0*.5*$base-unit;

    +.nav-link {
        margin: 0 0 0 1.5*$base-unit;
    }

    span {
        color: $gray-color;
    }
}

.nav-link--active {
    // background-color: $menu-bg-color;
    border-bottom: 1px solid $body-color;
    padding-bottom: 5px;
    // border-radius: $border-radius;
}

.nav-link__icon {
    max-height: 12px;
    max-width: 12px;
}

.buttons {
    display: flex;
    justify-content: end;
}

.theme-button {
    align-items: center;
    display: flex;
    font-size: 12px;
    line-height: 1;
    padding: 6px;
    border: 0;
}

.theme-icon {
    max-height: 12px;
    max-width: 12px;
}

.main {
    margin: 4*$base-unit 0;
}

.index-grid {
    display: grid;
    gap: 2*$base-unit;
    grid-template-columns: repeat(3, 1fr);
}

.index-link__icon {
    background-color: #f0f0f0;
    border-radius: 27px;
    height: 54px;
    float: right;
    width: 54px;
}

.index-link__meta {
    color: $gray-color;
    font-size: $small-font-size;
}

.index-link__title {
    font-weight: inherit;
    margin: .5*$base-unit 0;
}

.index-link__description {
    font-family: $serif-font;
    // font-size: $small-font-size;
}

.essay-title {
    // color: inherit;
    // font-family: $serif-font;
    font-size: 30px;
    // font-weight: 500;
    margin: .5*$base-unit 0;
}

.essay-subtitle {
    color: inherit;
    font-weight: inherit;
    margin: .5*$base-unit 0;
}

.essay-date {
    color: $heading-color;
    font-family: $sans-font;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .125em;
    margin: 0 0 .5*$base-unit;
    text-transform: uppercase;
}

.essay-body {
    // font-family: $serif-font;
    // font-size: 18px;
    margin: 2*$base-unit 0 0;

    hr {
        border: none;
        height: 2*$base-unit;
    }

    hr+p:first-letter,
    p:first-of-type::first-letter {
        color: $heading-color;
        float: left;
        font-family: $sans-font;
        font-size: 2*$base-font-size*1.5;
        font-weight: 300;
        line-height: 1;
        margin: 0 4px 0 0;
    }
}

@media (max-width: $page-width) {}

@media (max-width: 766px) {
    .page {
        padding: 0 $base-unit;
    }

    .header {
        align-items: start;
        border-bottom: 1px solid $gray-line-color;
        padding: 0 0 $base-unit;
    }

    .nav {
        align-items: end;
        flex-direction: column;
    }

    .nav-link+.nav-link {
        margin: .5*$base-unit 0 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark-mode;
        color: $body-color-dark-mode;
    }
}