@import url(heldane_text.scss);

$base-unit: 24px;
$small-base-unit: 18px;

$base-font-size: 16px;
$small-font-size: 12px;
$serif-font-size: 18px;
$serif-line-height: 1.333;

$sans-font: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', sans-serif;

$serif-font: 'Heldane', serif;
//$serif-font: serif;

$border-radius: 6px;
$page-width: 40 * $base-unit;

$link-color: blue;
$link-color-dark-mode: #c0c0c0;

$body-color: #404040;
$body-color-dark-mode: #c0c0c0;

$heading-color: #000000;
$heading-color-dark-mode: #f0f0f0;

$gray-color: #b0b0b0;
$gray-color-dark-mode: #606060;

$gray-line-color: #d0d0d0;
$gray-line-color-dark-mode: #404040;

$background-color: #ffffff;
$background-color-dark-mode: #000000;

$nav-link-active-bg: #f0f0f0;
$nav-link-active-bg-dark-mode: #181818;

$article-bg-color: #f0f0f0;
$article-bg-color-dark-mode: #181818;

* {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $base-font-size;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: 600;
    margin: (2 * $base-unit) 0 $base-unit;
}

p + p {
    margin: $base-unit 0 0;
}

ul {
    list-style-type: none;
    margin: $base-unit 0;
    padding: 0 0 0 $base-unit;

    li {
        display: flex;
        position: relative;
    }

    li::before {
        content: '—\00A0';
        display: block;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input[type='text'] {
    background: none;
    border-radius: $border-radius;
    border: 1px solid $gray-line-color;
    //display: block;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 2px 11px;
    vertical-align: top;
}

button {
    align-items: center;
    background: none;
    border: 1px solid $gray-line-color;
    border-radius: $border-radius;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    line-height: 1;
    padding: 5px (0.5 * $base-unit - 1);

    span {
        color: $gray-color;
        margin: 0 0 0 (0.25 * $base-unit);
    }

    + .theme-button {
        margin: 0 0 0 (0.5 * $base-unit);
    }
}

img {
    display: block;
    //filter: grayscale(100%);
    width: 100%;
}

.cover-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

svg {
    stroke: $body-color;
}

.hide {
    display: none;
}

.page {
    align-items: start;
    // display: grid;
    gap: 1 * $base-unit;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: $page-width + (2 * $base-unit);
    // overflow: hidden;
    padding: (0 * $base-unit) (1 * $base-unit);
    position: relative;
}

.header {
    // border-bottom: 1px solid $gray-line-color;
    display: flex;
    grid-template-areas:
        'site-titles nav'
        'buttons     nav';
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin: 0 0 (2 * $base-unit);
    padding: (2 * $base-unit) 0 0;
}

.site-titles {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    grid-area: site-titles;
    // justify-content: center;
}

.site-title {
    color: inherit;
    // font-family: $serif-font;
    // font-size: $serif-font-size;
    font-weight: inherit;
    // line-height: $serif-line-height;
    margin: 0 (0 * $base-unit) (0 * $base-unit) 0;
}

.site-subtitle {
    color: $gray-color;
    display: none;
    font-weight: inherit;
    // font-size: $small-font-size;
    // font-style: oblique;
    // line-height: 1;
    margin: (0 * $base-unit) 0 (0 * $base-unit);
    // padding: 6px 0;
}

.nav {
    align-items: end;
    display: flex;
    // display: none;
    // flex-direction: column;
    grid-area: nav;
    // justify-content: space-between;
    margin: (0 * $base-unit) (0 * $base-unit) (0 * $base-unit) (0 * $base-unit);
}

.nav-link {
    // align-items: center;
    // display: flex;
    // font-size: 12px;
    // line-height: 1;
    // padding: 6px (0 * $base-unit);

    + .nav-link {
        margin: 0 0 0 (1 * $base-unit);
    }
}

.nav-link--active {
    // background-color: $nav-link-active-bg;
    // border-bottom: 1px solid $body-color;
    // padding: 6px (0 * $base-unit) 5px;
    // border-radius: $border-radius;
}

.nav-link__icon {
    display: none;
    margin: 0 (0.25 * $base-unit) 0 0;
    max-height: 10px;
    max-width: 10px;
}

.nav-link__item-count {
    color: $gray-color;
    // display: none;
    margin: 0 0 0 (0.25 * $base-unit);
}

.buttons {
    display: flex;
    display: none;
    grid-area: buttons;
    // justify-content: end;
    margin: (0 * $base-unit) 0 0;
}

.theme-button {
    align-items: center;
    border: 1px solid $gray-line-color;
    border-radius: $border-radius;
    display: flex;
    font-size: 12px;
    line-height: 1;
    padding: 5px (0.5 * $base-unit - 1);

    span {
        color: $gray-color;
        margin: 0 0 0 (0.25 * $base-unit);
    }

    + .theme-button {
        margin: 0 0 0 (0.5 * $base-unit);
    }
}

.theme-button__icon {
    margin: 0 (0.25 * $base-unit) 0 0;
    max-height: 12px;
    max-width: 12px;

    + .theme-button__icon {
        margin: 0 0 0 (0.25 * $base-unit);
    }
}

.main {
    grid-column: span 2;
    // background-color: pink;
    margin: (2 * $base-unit) 0;
}

.hero {
    // background-color: $article-bg-color;
    // border: 1px solid $gray-line-color;
    // border-radius: $border-radius;
    margin: (4 * $base-unit) 0;
    // padding: 2 * $base-unit;
    // text-align: center;
}

.hero-label {
    color: $gray-color;
    // font-family: $serif-font;
    font-size: $small-font-size;
    // font-style: oblique;
    // line-height: $serif-line-height;
    margin: (2 * $base-unit) 0 (0.25 * $base-unit);
}

.hero-text {
    // font-family: $serif-font;
    font-size: 30px;
    // font-weight: inherit;
    margin: 0;
}

.hero__subscribe-field {
    display: flex;
    display: none;
    // justify-content: center;
    margin: (2 * $base-unit) 0 0;

    button {
        margin: 0 0 0 (0.25 * $base-unit);
    }
}

.index-grid {
    display: grid;
    gap: (1 * $base-unit) (1 * $base-unit);
    grid-template-columns: repeat(2, 1fr);
}

.index-link__icon {
    background-color: #f0f0f0;
    border-radius: 27px;
    height: 54px;
    float: right;
    width: 54px;
}

.index-link__meta {
    color: $gray-color;
    font-size: $small-font-size;
}

.index-link__title {
    font-weight: inherit;
    margin: 0.5 * $base-unit 0;
}

.index-link__description {
    font-family: $serif-font;
}

.essays-grid {
    display: grid;
    gap: 0.5 * $base-unit;
    grid-template-columns: repeat(3, 1fr);
}

.essay-link {
    // aspect-ratio: 3/4;
    // display: block;
    border: 1px solid $gray-line-color;
    border-radius: $border-radius;
    padding: 2 * $base-unit;
}

.essay-link__date {
    display: none;
    font-size: $small-font-size;
    line-height: 2;
    margin: 0;
}

.essay-link__title {
    // color: inherit;
    // font-family: $serif-font;
    // font-size: $serif-font-size;
    // font-weight: inherit;
    margin: 0 0 (1 * $base-unit) 0;
}

.essay {
    margin: (6 * $base-unit) auto;
    max-width: 600px;
}

.essay-title {
    color: inherit;
    // font-family: $serif-font;
    font-size: 30px;
    // font-weight: 400;
    margin: 0.5 * $base-unit 0 0;
}

.essay-subtitle {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0.5 * $base-unit 0 0;
}

.essay-date {
    // color: $heading-color;
    // font-family: $sans-font;
    font-size: $small-font-size;
    // font-weight: 600;
    // letter-spacing: 0.125em;
    line-height: 2;
    margin: 0;
    // text-transform: uppercase;
}

.essay-body {
    // font-family: $serif-font;
    // font-size: $serif-font-size;
    margin: 2 * $base-unit 0 0;

    hr {
        border: none;
        height: 2 * $base-unit;
    }

    // hr + p:first-letter,
    // p:first-of-type::first-letter {
    //     color: $heading-color;
    //     float: left;
    //     font-family: $sans-font;
    //     font-size: 2 * $base-font-size * 1.5;
    //     font-weight: 100;
    //     line-height: 1;
    //     margin: 0 4px 0 0;
    // }
}

@media (max-width: $page-width) {
}

@media (max-width: 766px) {
    // .nav {
    //     flex-direction: column;
    // }

    // .nav-link {
    //     + .nav-link {
    //         margin: $base-unit 0 0;
    //     }
    // }
}

@media (max-width: 500px) {
    .nav {
        flex-direction: column;
    }

    .nav-link {
        + .nav-link {
            margin: $base-unit 0 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark-mode;
        color: $body-color-dark-mode;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $heading-color-dark-mode;
    }

    button {
        border-color: $gray-line-color-dark-mode;
    }

    input[type='text'] {
        border-color: $gray-line-color-dark-mode;
    }

    .nav-link__item-count {
        color: $gray-color-dark-mode;
    }

    .hero {
        border-color: $gray-line-color-dark-mode;
    }

    .essay-link {
        border-color: $gray-line-color-dark-mode;
    }
}
