// variables

$base-unit: 24px;
$column-width: 720px + (6 * $base-unit);
$essay-body-width: 600px;
// $column-width: 840px + (8 * $base-unit);
$border-radius: 3px;
$border-radius-big: 12px;

$sans-font: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, roboto, noto, helvetica, arial, sans-serif;
$sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
//     helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: "American Grotesk", serif;
// $sans-font: "Untitled Sans", serif;
// $sans-font: "Sohne";
$body-size: 12px;
$small-size: 10px;
$heading-size: 18px;

$serif-font: "Heldane Text", serif;
// $serif-font: "Source Serif 4";
$serif-size: 14px;

$serif-heading-font: "Heldane Display", serif;
// $serif-heading-font: "Tiempos Fine", serif;
$serif-heading-size: 20px;
$serif-heading-size-big: 36px;

$mono-font: "Sohne Mono";
$mono-font: "IBM Plex Mono";
$mono-font-size: 12px;

$body-color: rgba(0, 0, 0, 0.8);
$body-color-dm: rgba(255, 255, 255, 0.8);

$heading-color: rgba(0, 0, 0, 1);
$heading-color-dm: rgba(255, 255, 255, 1);

$gray-color: rgba(0, 0, 0, 0.4);
$gray-color-dm: rgba(255, 255, 255, 0.4);

$link-color: rgb(0, 113, 227);
$link-color-dm: rgb(0, 113, 227);

$new-label-bg: $link-color;
$new-label-color: rgb(255, 255, 255);

$background-color: #f3f1eb;
$background-color-dm: #000000;

$entry-background: rgba(0, 0, 0, 0.05);
$entry-background-darker: rgba(0, 0, 0, 0.1);
$entry-background-dm: #1a1a1a;
$entry-background-darker-dm: #333333;

$gray-line-color: rgba(0, 0, 0, 0.1);
$gray-line-color-dm: rgba(255, 255, 255, 0.1);

$newsletter-svg-color: #b7b7b7;

$break-1: 768px;
$break-2: 600px;
