@import "../variables.scss";

// essay page

.essay__title {
    // font-family: $serif-heading-font;
    font-size: $heading-size;
    font-weight: 500;
    // letter-spacing: 0.05em;
    margin-bottom: 0.25 * $base-unit;
    // text-align: center;
}

.essay__subtitle {
    color: $body-color;
    // font-size: $heading-size;
    font-style: oblique;
    // text-align: center;
}

.essay__date {
    background-color: $entry-background;
    border-radius: $border-radius;
    // color: $gray-color;
    margin: 1.5 * $base-unit 0;
    padding: 4px 12px;
    width: fit-content;
}

.essay__cover-image {
    border-radius: $border-radius;
    margin-top: 1.5 * $base-unit;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.essay__body {
    // font-family: $serif-font;
    // font-size: $serif-size;
    margin-top: 1.5 * $base-unit;
    // padding: 3 * $base-unit;

    hr {
        border: none;
        height: 2 * $base-unit;
    }
}

.essay__body p:first-of-type::first-letter,
.essay__body hr + p::first-letter {
    color: $heading-color;
    font-family: $sans-font;
    float: left;
    font-size: 2 * $base-unit;
    font-weight: 100;
    line-height: 2 * $base-unit;
    margin: -1px 3px 0 0;

    @-moz-document url-prefix() {
        margin-top: 7px;
    }

    @media (prefers-color-scheme: dark) {
        color: $heading-color-dm;
    }
}
