@import "../variables.scss";

// essay page

.essay {
    margin: 3 * $base-unit 0;
}

.essay__head__titles {
    display: grid;
    gap: 0 0.5 * $base-unit;
    grid-template-areas:
        "date title"
        "date subtitle";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin: 1.5 * $base-unit 0;
}

.essay__title {
    // font-family: $serif-heading-font;
    font-size: $heading-size;
    font-weight: 500;
    grid-area: title;
    line-height: 1.5;
    // letter-spacing: 0.05em;
    // margin-top: 1.5 * $base-unit;
    margin-bottom: 0.25 * $base-unit;
}

.essay__subtitle {
    color: $gray-color;
    // font-size: $heading-size;
    font-style: oblique;
    grid-area: subtitle;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.essay__date {
    aspect-ratio: 1/1;
    background-color: $entry-background;
    border-radius: $border-radius;
    font-size: $small-size;
    grid-area: date;
    height: (1.5 * $heading-size) + (0.25 * $base-unit) + ($base-unit);
    line-height: 1.5;
    // margin: 1.5 * $base-unit 0;
    padding: 14px 0;
    text-align: center;
    width: fit-content;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }
}

.essay__cover-image {
    border-radius: $border-radius;
    margin-top: 1.5 * $base-unit;
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.essay__body {
    // font-family: $serif-font;
    // font-size: $serif-size;
    margin-top: 1.5 * $base-unit;
    // padding: 3 * $base-unit;

    hr {
        border: none;
        height: 0;
        margin: 0 0 3 * $base-unit;
    }

    .newsletter {
        margin: 3 * $base-unit 0 0;
    }

    .newsletter + hr {
        margin: 0 0 3 * $base-unit;
    }

    .sidebar {
        background-color: $entry-background;
        border-radius: $border-radius;
        font-size: $heading-size;
        font-style: oblique;
        float: right;
        padding: 1.5 * $base-unit;
        margin: $base-unit 0 $base-unit $base-unit;
        width: 33.333%;

        @media (prefers-color-scheme: dark) {
            background-color: $entry-background-dm;
        }

        + p {
            margin-top: $base-unit;
        }
    }
}

.essay__body > p:first-of-type::first-letter,
.essay__body > hr + p::first-letter {
    color: $heading-color;
    font-family: $sans-font;
    float: left;
    font-size: 2 * $base-unit;
    font-weight: 100;
    line-height: 2 * $base-unit;
    margin: -1px 3px 0 0;

    @-moz-document url-prefix() {
        margin-top: 7px;
    }

    @media (prefers-color-scheme: dark) {
        color: $heading-color-dm;
    }
}
