@import './_resets.scss';
@import './_variables.scss';

// elements & utility classes ——————————————————————————————————————————————————————————————————————

body {
    background-color: $background-color-light-mode;
    color: $body-text-color-light-mode;
    font-family: $sans-font;
    font-size: $sans-font-size;
    line-height: $sans-line-height;
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-text-color-light-mode;
    font-size: inherit;
    font-weight: 600;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    margin-bottom: -1.5px;
}

a:hover {
    border-bottom: 1.5px solid;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
}

svg {
    display: block;
    fill: none;
    margin: auto;
    stroke: $heading-text-color-light-mode;
    stroke-width: 1.5;
}

.show {
    display: block !important;;
}

.hide {
    display: none !important;
}

// structure ———————————————————————————————————————————————————————————————————————————————————————

.header,
.main,
.footer {
    max-width: $outer-width+10*$base-unit;
    padding: 0 5*$base-unit;
}

.header,
.footer {
    margin: 1*$base-unit auto;
}

.main {
    margin: 3*$base-unit auto;
}

@media screen and ( max-width: $break-0 ) {
    
}

@media screen and ( max-width: $break-1 ) {
    
}

// header ——————————————————————————————————————————————————————————————————————————————————————————

.header {
    color: $heading-text-color-light-mode;
    display: flex;
    flex-direction: row;
    //font-size: $smaller-sans-font-size;
    //font-weight: 500;
    justify-content: space-between;
    //line-height: $base-unit;
}

.header__site-title {
    font-weight: inherit;
}

.header__nav-link {

}

.header__nav-link--selected {
    border-bottom: 1.5px solid;
}

.header__theme-button {
    display: none;
    overflow: hidden;

    .overlay-circle {
        fill: $background-color-light-mode;
    }
}

.header__menu-button {
    //display: none;
}

// break 0 —————————————————————————————————————————————————————————————————————————————————————————

@media screen and ( max-width: $break-0 ) {
    .header,
    .main,
    .footer {
        padding: 0 3*$base-unit;
    }
}

// break 1 —————————————————————————————————————————————————————————————————————————————————————————

@media screen and ( max-width: $break-1 ) {
    .header,
    .main,
    .footer {
        padding: 0 1*$base-unit;
    }
}

// break 2 —————————————————————————————————————————————————————————————————————————————————————————

@media screen and ( max-width: $break-2 ) {
    .header {
        border-bottom: 1px solid $gray-line-color-light-mode;
        padding-bottom: 1*$base-unit;
    }

    .header__site-title {
        order: 2;
        text-align: center;
    }

    .header__nav-link {
        display: none;
    }

    .header button {
    }

    .header__menu-button {
        //display: block;
        order: 2
    }
}